<%= render 'form', story: @story %>

<% if @story.user == current_user %>
  <div class="buttons">
  <%=  button_to 'Delete Story', @story, method: :delete,
       class: "button is-danger is-small",
       data: { confirm: "Delete #{@story.name}?" } %>

  <% passage_count = @story_passages&.length
     if passage_count > 0 %>
       <%= confirm_prompt = "Delete #{@story.name} and its #{passage_count} passages?"
       button_to 'Delete Story and its Passages',
         story_path(@story, destroy_passages: 'true'),
         method: :delete,
         class: "button is-danger is-small",
         data: { confirm: confirm_prompt } %>
  <% end %>
  </div>
<% end %>

<%# link_to 'Cancel', @story %>
