<section class="section">
<%= render 'form', passage: @passage %>

<%= if @passage.user == current_user
      button_to 'Delete Passage', @passage, method: :delete,
        class: "button is-danger is-small",
        data: { confirm: "Delete #{@passage.name}?" }
    end %>
<%# link_to 'Cancel', @passage %> 

</section>
