<%= render 'form', passage: @passage %>

<div class="pullup-buttons">
<%= button_to 'Delete Passage', @passage, method: :delete,
        class: "button is-danger is-pulled-right",
        data: { confirm: "Delete #{@passage.name}?" } %> 
</div>
