<h1>Editing Passage</h1>

<%= render 'form', passage: @passage %>

<%# link_to 'Show', @passage %> 

<%= if @passage.user == current_user
      button_to 'Delete Passage', @passage, method: :delete, data: { confirm: "Delete #{@passage.name}?" }
    end %>

<%# link_to 'List of Passages', passages_path %>
